{% extends 'users.html.twig' %} {% block title %}Ajouter une catégories{% endblock %} {% block body %}
<div class="container">
<h1 class="h3 mb-3 font-weight-normal ">Ajouter une catégories</h1>

    {{ form(form) }}
</div>
{% endblock %}